@font-face {
    font-family: 'MontserratRegular';
    src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('../../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:root {
    --orange: #F58021;
    --dark-orange: #D26004;
    --white: #FFFFFF;
    --navy: #20113D;
    --black: #000000;
    --turquoise: #00A092;
    --dark-turquoise: #05786E;
    --gray: #969696;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MontserratSemiBold', sans-serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 36px 23px 20px;
    background-color: var(--orange);
}

.header__title {
    display: none;
}

.header__burger-btn,
.header__close-btn {
    padding: 0 0 5px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.header__mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--navy);
    z-index: 100;
    display: none;
    flex-direction: column;
    gap: 54px;
}

.header__mobile-nav--active {
    display: flex;
}

.header__close-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 48px 76px 0 0;
}

.header__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header__link {
    font-size: 18px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 150%;
}

.header__link:hover {
    color: var(--turquoise);
    transition: all 0.3s ease;
}

.header__desktop-nav {
    display: none;
}

.header__socials {
    display: flex;
    gap: 30px;
}

.header__socials img {
    transition: all 0.3s ease;
}

.header__socials img:hover {
    scale: 1.1;
}

@media (min-width: 640px) {
    .header {
        padding: 30px 47px 23px 20px;
    }

    .header__burger-btn img {
        width: 30px;
        height: 30px;
    }

    .header__list {
        gap: 50px;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 30px 100px 22px 100px;
    }

    .header__burger-btn {
        display: none;
    }

    .header__desktop-nav {
        padding-bottom: 4px;
        display: flex;
        align-items: center;
        gap: 80px;
    }

    .header__list {
        flex-direction: row;
        gap: 31px;
    }

    .header__link {
        color: var(--black);
    }

    .header__link--active {
        color: var(--turquoise);
    }
}

@media (min-width: 1920px) {
    .header {
        padding: 30px 260px 25px 260px ;
    }

    .header__desktop-nav {
        gap: 70px;
    }

    .header__list {
        gap: 48px;
    }
}

/* END OF HEADER */

/* ABOUT HEADER */
.about__header {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0 10px;
}

.about__header-title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-family: 'MontserratExtraBold', sans-serif;
    color: var(--turquoise);
    text-transform: uppercase;
}

.about__header-content {
    margin: 10px 0 30px 0;
    padding: 0;
    font-size: 18px;
    font-family: 'MontserratRegular', sans-serif;
    line-height: 150%;
}

.about__header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 11px 0;
    font-size: 18px;
    font-family: 'MontserratSemiBold', sans-serif;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.about__header-button:hover {
    background-color: var(--dark-orange);
}

.about__header-panda {
    width: 100%;
    height: auto;
}

@media (min-width: 640px) {
    .about__header {
        padding: 50px 20px;
        background-image: url("../../assets/images/panda-1200.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: bottom center;
    }

    .about__header-title {
        font-size: 72px;
    }

    .about__header-content {
        width: 339px;
        margin: 10px 0;
    }

    .about__header-button {
        width: 285px;
        margin-top: 20px;
        padding: 26px 0;
    }

    .about__header-panda {
        display: none;
    }
}

@media (min-width: 1200px) {
    .about__header {
        padding: 100px 40px;
    }

    .about__header-title {
        width: 890px;
        font-size: 82px;
    }

    .about__header-button {
        width: 240px;
    }
}

@media (min-width: 1920px) {
    .about__header {
        padding: 129px 0 129px 261px;
        background-image: url("../../assets/images/panda-1920.png");
    }

    .about__header-content {
        margin: 25px 0;
    }
}

/* END OF ABOUT HEADER */

/* WELCOME */
.welcome {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin: 30px 0 50px 0;
}

.welcome__top,
.welcome__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.welcome img {
    width: 100%;
    height: auto;
}

.welcome__title {
    margin: 0;
    padding: 0 10px;
    font-size: 26px;
    font-family: 'MontserratRegular', sans-serif;
    color: var(--turquoise);
    text-transform: uppercase;
}

.welcome__content {
    margin: 25px 0 0 0;
    padding: 0 10px;
    font-size: 18px;
    font-family: 'MontserratRegular', sans-serif;
    line-height: 150%;
}

.welcome__large-content {
    display: none;
}

@media (min-width: 640px) {
    .welcome {
        gap: 50px;
        margin: 95px 0 125px 0;
    }

    .welcome__title {
        font-size: 54px;
        padding: 0 21px;
    }

    .welcome__content {
        margin-top: 30px;
        padding: 0 21px;
    }

    .welcome__small-content {
        display: none;
    }

    .welcome__large-content {
        display: block;
    }
}

@media (min-width: 1200px) {
    .welcome {
        gap: 75px;
        margin-bottom: 155px;
    }

    .welcome__top {
        align-items: flex-start;
        width: 660px;
        margin-left: 100px;
        gap: 16px;
    }

    .welcome__bottom {
        align-items: flex-start;
        width: 660px;
        margin-left: auto;
        margin-right: 100px;
    }

    .welcome__title {
        padding: 0;
    }

    .welcome__content {
        padding: 0;
        width: 560px;
    }
}

@media (min-width: 1920px) {
    .welcome {
        margin: 150px 0;
        gap: 150px;
    }

    .welcome__top {
        margin: 0;
        width: auto;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 40px;
    }

    .welcome__bottom {
        margin: 0;
        width: auto;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 40px;
    }

    .welcome__top img,
    .welcome__bottom img {
        width: 800px;
        height: 531px;
    }

    .welcome__title {
        width: 523px;
    }

    .welcome__content {
        width: 560px;
    }
}

/* END OF WELCOME */

/* DONATION */
.donation {
    padding: 25px 10px 35px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--navy);
    color: var(--white);
}

.donation__top,
.donation__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.donation__bottom {
    gap: 10px;
}

.donation__top-title {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-family: 'MontserratRegular', sans-serif;
    text-transform: uppercase;
}

.donation__top-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'MontserratRegular', sans-serif;
    line-height: 150%;
}

.donation__bottom-title {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-family: 'MontserratRegular', sans-serif;
    line-height: 130%;
}

.donation__button {
    width: 300px;
    padding: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 16px;
    font-family: 'MontserratSemiBold', sans-serif;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.donation__button span:first-child {
    padding-left: 26px;
}

.donation__button span:last-child {
    padding: 11px 17px;
    margin-left: auto;
    border-radius: 5px;
    background-color: var(--orange);
    transition: all 0.3s ease;
}

.donation__button:hover span:last-child {
    background-color: var(--dark-orange);
}

@media (min-width: 640px) {
    .donation {
        padding: 50px 0;
    }

    .donation__top-title {
        padding: 0 38px;
        font-size: 42px;
    }

    .donation__top-text {
        padding: 0 20px;
    }

    .donation__button {
        width: 363px;
        font-size: 18px;
    }

    .donation__button span:first-child {
        padding-left: 39px;
    }

    .donation__button span:last-child {
        padding: 20px 24px;
    }
}

@media (min-width: 1200px) {
    .donation {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 106px;
    }

    .donation__top {
        width: 577px;
    }

    .donation__top-title {
        text-align: start;
        padding: 0;
    }

    .donation__top-text {
        padding: 0;
        text-align: start;
    }

    .donation__bottom {
        align-items: flex-start;
    }

    .donation__button {
        width: 320px;
    }

    .donation__button span:first-child {
        padding-left: 14px;
    }
}

@media (min-width: 1920px) {
    .donation__top {
        width: 889px;
        align-items: flex-start;
        gap: 20px;
    }

    .donation__top-text {
        text-align: start;
        width: 609px;
    }
}

/* END OF DONATION */

/* PETS */
.pets__carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden; /* Hides the extra items */
    user-select: none;
}

.pets__cards {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    transition: transform 0.3s ease-out;
    cursor: grab;
}

.pets__cards:active {
    cursor: grabbing;
}

.pets__card {
    position: relative;
    width: 300px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--navy);
    border-radius: 5px;
}

.pets__card img {
    width: 300px;
    height: 333px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.pets__card-name {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 20px;
    background-color: var(--navy);
    font-size: 26px;
    font-family: 'MontserratRegular', sans-serif;
    line-height: 130%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pets__card-title {
    margin: 15px 0;
    padding: 0;
    font-size: 26px;
    font-family: 'MontserratRegular', sans-serif;
    line-height: 130%;
    text-align: center;
}

.pets__card-text {
    margin: 0;
    padding: 0 25px;
    font-size: 18px;
    font-family: 'MontserratRegular', sans-serif;
    line-height: 150%;
    text-align: center;
}

.pets__card-button {
    width: 240px;
    padding: 24px 0;
    margin: 20px 0 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--orange);
    font-size: 20px;
    font-family: 'MontserratSemiBold', sans-serif;
    border: none;
    border-radius: 5px;
    fill: var(--orange);
    transition: all 0.3s ease;
}

.pets__card-button span {
    display: inline-block;
    width: 25px;
    height: 22px;
    background-color: var(--orange);
    -webkit-mask: url('../../assets/icons/orange-arrow-right.svg') no-repeat center;
    mask: url('../../assets/icons/orange-arrow-right.svg') no-repeat center / contain;
    transition: background-color 0.3s ease;
}

.pets__card-button:hover span {
    background-color: var(--white);
}

.pets__card-button:hover {
    color: var(--white);
    background-color: var(--orange);
}

.pets__card-button img {
    width: auto;
    height: auto;
}
/* END OF PETS */

/* FOOTER */
.footer {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--navy);
}

.footer__top,
.footer__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}

.footer__nav-link {
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    line-height: 150%;
    font-family: 'MontserratSemiBold', sans-serif;
}

.footer__nav-link:hover {
    color: var(--turquoise);
    transition: all 0.3s ease;
}

.footer__donate-btn {
    padding: 9px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    line-height: 150%;
    background-color: transparent;
    font-family: 'MontserratSemiBold', sans-serif;
    border: 1px solid var(--white);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.footer__donate-btn:hover,
.footer__donate-btn:active {
    background-color: var(--turquoise);
}

.footer__socials {
    display: flex;
    gap: 50px;
}

.footer__socials img {
    transition: all 0.3s ease;
}

.footer__socials img:hover {
    scale: 1.1;
}

.footer__socials a {
    display: flex;
    align-items: center;
}

.footer__top-hr {
    display: none;
    width: 100%;
    border-bottom: 1px solid var(--white);
}

.footer__bottom-hr {
    width: 100%;
    margin-top: 8px;
    border-bottom: 1px solid var(--white);
}

.footer__copyright-list {
    padding: 0;
    margin: 5px 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer__copyright-link {
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    line-height: 150%;
    font-family: 'MontserratRegular', sans-serif;
}

@media (min-width: 640px) {
    .footer__top {
        gap: 45px;
    }

    .footer__logo {
        flex-direction: row;
        gap: 81px;
    }

    .footer__nav-list {
        gap: 53px;
    }

    .footer__nav-link {
        font-size: 18px;
    }

    .footer__donate-btn {
        padding: 22px 32px;
        text-transform: uppercase;
    }

    .footer__top-hr {
        display: block;
        margin: 20px 0 27px 0;
    }

    .footer__bottom-hr {
        display: none;
    }

    .footer__socials {
        gap: 50px;
    }

    .footer__copyright-list {
        flex-direction: row;
        gap: 48px;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding: 0;
        gap: 0;
    }

    .footer__top {
        padding: 70px 0;
        flex-direction: row;
        gap: 35px;
    }

    .footer__bottom {
        padding: 45px 0;
        flex-direction: row-reverse;
        gap: 472px;
        border-top: 1px solid var(--white);
    }

    .footer__top-hr {
        display: none;
    }

    .footer__logo {
        gap: 30px;
    }

    .footer__nav-list {
        gap: 20px;
    }

    .footer__copyright-list {
        gap: 50px;
    }

    .footer__socials {
        gap: 40px;
    }
}

@media (min-width: 1920px) {
    .footer__top {
        width: auto;
        gap: 100px;
    }

    .footer__bottom {
        width: auto;
        gap: 752px;
    }

    .footer__logo {
        gap: 65px;
    }

    .footer__nav-list {
        gap: 46px;
    }
}

/* END OF FOOTER */