@font-face {
    font-family: 'MontserratRegular';
    src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('../../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:root {
    --orange: #F58021;
    --dark-orange: #D26004;
    --white: #FFFFFF;
    --navy: #20113D;
    --black: #000000;
    --turquoise: #00A092;
    --dark-turquoise: #05786E;
    --gray: #969696;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'MontserratSemiBold', sans-serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 36px 23px 20px;
    background-color: var(--orange);
}

.header__title {
    display: none;
}

.header__burger-btn,
.header__close-btn {
    padding: 0 0 5px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.header__mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--navy);
    z-index: 100;
    display: none;
    flex-direction: column;
    gap: 54px;
}

.header__mobile-nav--active {
    display: flex;
}

.header__close-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 48px 76px 0 0;
}

.header__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header__link {
    font-size: 18px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 150%;
    transition: color 0.3s ease;
}

.header__link:hover {
    color: var(--turquoise);
}

.header__desktop-nav {
    display: none;
}

.header__socials {
    display: flex;
    gap: 30px;
}

.header__socials img {
    transition: all 0.3s ease;
}

.header__socials img:hover {
    scale: 1.1;
}

@media (min-width: 640px) {
    .header {
        padding: 30px 47px 23px 20px;
    }

    .header__burger-btn img {
        width: 30px;
        height: 30px;
    }

    .header__list {
        gap: 50px;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 30px 100px 22px 100px;
    }

    .header__burger-btn {
        display: none;
    }

    .header__desktop-nav {
        padding-bottom: 4px;
        display: flex;
        align-items: center;
        gap: 80px;
    }

    .header__list {
        flex-direction: row;
        gap: 31px;
    }

    .header__link {
        color: var(--black);
    }

    .header__link--active {
        color: var(--turquoise);
    }
}

@media (min-width: 1920px) {
    .header {
        padding: 30px 260px 25px 260px;
    }

    .header__desktop-nav {
        gap: 70px;
    }

    .header__list {
        gap: 48px;
    }
}

/* END OF HEADER */

/* CONTACT */
.contact {
    padding: 0 0 80px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact__image {
    display: block;
    width: 100%;
    height: 217px;
    object-fit: cover;
}

.contact__content {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.contact__info {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.contact__info-title {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-family: 'MontserratRegular', sans-serif;
    color: var(--turquoise);
    text-transform: uppercase;
}

.contact__info-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    font-family: 'MontserratRegular', sans-serif;
}

.contact__form {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact__form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact__form-group label {
    font-size: 18px;
    line-height: 150%;
    font-family: 'MontserratRegular', sans-serif;
    cursor: pointer;
}

.contact__form-group label span {
    color: var(--turquoise);
}

.contact__form-group input,
.contact__form-group textarea {
    width: 100%;
    padding: 16px 10px;
    outline: none;
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact__form-group input::placeholder,
.contact__form-group textarea::placeholder {
    font-size: 18px;
    line-height: 150%;
    font-family: 'MontserratRegular', sans-serif;
    color: var(--gray);
}

.contact__form-group input:focus,
.contact__form-group textarea:focus {
    border: 1px solid var(--turquoise);
    box-shadow: 0 4px 10px rgba(0, 160, 146, 0.3);
}

.contact__form-group input:user-invalid,
.contact__form-group textarea:user-invalid {
    border: 1px solid var(--orange);
    box-shadow: 0 4px 10px rgba(245, 128, 33, 0.3);
    background-color: rgba(245, 128, 33, 0.05);
}

.error-text {
    display: none;
    font-size: 15px;
    font-family: 'MontserratRegular', sans-serif;
    color: var(--orange);
}

.contact__form-group :user-invalid ~ .error-text {
    display: block;
}

.contact__form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: var(--turquoise);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'MontserratRegular', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact__form-button:hover,
.contact__form-button:active {
    background-color: var(--dark-turquoise);
}

@media (min-width: 640px) {
    .contact {
        padding: 0 0 100px 0;
        gap: 50px;
    }

    .contact__image {
        height: 434px;
    }

    .contact__content {
        gap: 50px;
    }

    .contact__info {
        padding: 0 20px;
    }

    .contact__info-title {
        font-size: 54px;
        font-family: 'MontserratSemiBold', sans-serif;
    }

    .contact__form {
        gap: 29px;
        padding: 0 20px;
    }

    .contact__form-group {
        gap: 10px;
    }

    .contact__form-group input,
    .contact__form-group textarea {
        padding: 22px 20px;
    }

    .contact__form-group textarea {
        height: 155px;
    }

    .contact__form-button {
        margin: 20px auto 0 auto;
        padding: 26px 53px;
    }
}

@media (min-width: 1200px) {
    .contact__content {
        width: 835px;
        margin: 0 auto 0 auto;
    }

    .contact__image {
        height: 815px;
    }

    .contact__info {
        padding: 0;
    }

    .contact__info-title {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .contact__info-text {
        text-align: center;
    }

    .contact__form {
        margin-left: 25px;
    }

    .contact__form-button {
        padding: 26px 88px;
        margin: 26px auto 0 0;
        font-family: MontserratSemiBold, sans-serif;
    }
}

@media (min-width: 1920px) {
    .contact {
        width: 1400px;
        margin: 0 auto 49px auto;
        gap: 150px;
    }

    .contact__content {
        margin: 0;
        width: auto;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .contact__info {
        width: 545px;
        align-items: flex-start;
        gap: 32px;
        padding: 0;
    }

    .contact__form {
        width: 680px;
        padding: 0;
    }

    .contact__info-text {
        text-align: start;
    }

    .contact__form-button {
        padding: 26px 88px;
        margin: 37px auto 0 0;
    }
}

/* END OF CONTACT */

/* FOOTER */
.footer {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--navy);
}

.footer__top,
.footer__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}

.footer__nav-link {
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    line-height: 150%;
    font-family: 'MontserratSemiBold', sans-serif;
    transition: color 0.3s ease;
}

.footer__nav-link:hover {
    color: var(--turquoise);
}

.footer__donate-btn {
    padding: 9px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    line-height: 150%;
    background-color: transparent;
    font-family: 'MontserratSemiBold', sans-serif;
    border: 1px solid var(--white);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.footer__donate-btn:hover,
.footer__donate-btn:active {
    background-color: var(--turquoise);
}

.footer__socials {
    display: flex;
    gap: 50px;
}

.footer__socials img {
    transition: all 0.3s ease;
}

.footer__socials img:hover {
    scale: 1.1;
}

.footer__socials a {
    display: flex;
    align-items: center;
}

.footer__top-hr {
    display: none;
    width: 100%;
    border-bottom: 1px solid var(--white);
}

.footer__bottom-hr {
    width: 100%;
    margin-top: 8px;
    border-bottom: 1px solid var(--white);
}

.footer__copyright-list {
    padding: 0;
    margin: 5px 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer__copyright-link {
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    line-height: 150%;
    font-family: 'MontserratRegular', sans-serif;
}

@media (min-width: 640px) {
    .footer__top {
        gap: 45px;
    }

    .footer__logo {
        flex-direction: row;
        gap: 81px;
    }

    .footer__nav-list {
        gap: 53px;
    }

    .footer__nav-link {
        font-size: 18px;
    }

    .footer__donate-btn {
        padding: 22px 32px;
        text-transform: uppercase;
    }

    .footer__top-hr {
        display: block;
        margin: 20px 0 27px 0;
    }

    .footer__bottom-hr {
        display: none;
    }

    .footer__socials {
        gap: 50px;
    }

    .footer__copyright-list {
        flex-direction: row;
        gap: 48px;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding: 0;
        gap: 0;
    }

    .footer__top {
        padding: 70px 0;
        flex-direction: row;
        gap: 35px;
    }

    .footer__bottom {
        padding: 45px 0;
        flex-direction: row-reverse;
        gap: 472px;
        border-top: 1px solid var(--white);
    }

    .footer__top-hr {
        display: none;
    }

    .footer__logo {
        gap: 30px;
    }

    .footer__nav-list {
        gap: 20px;
    }

    .footer__copyright-list {
        gap: 50px;
    }

    .footer__socials {
        gap: 40px;
    }
}

@media (min-width: 1920px) {
    .footer__top {
        width: auto;
        gap: 100px;
    }

    .footer__bottom {
        width: auto;
        gap: 752px;
    }

    .footer__logo {
        gap: 65px;
    }

    .footer__nav-list {
        gap: 46px;
    }
}

/* END OF FOOTER */